<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script>
        // Display popup based on URL parameter
        window.onload = function () {
            const params = new URLSearchParams(window.location.search);
            if (params.get("success") === "true") {
                alert("Registration successful!");
            }
        }
    </script>
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <form th:action="@{/admin/login}" method="post">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn">Login</button>

    </form>
</div>
</body>
</html>
